<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panell D'Administrador</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.css"
          integrity="sha512-WrHplq3TYPEkwmx3iOWybuK9tQ4oq6Qxff1aM48V2RI4CHPU3zBXebikfBsSf+/pMwc6vNUaMQLtwG7KUoP+kA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .tableR thead th:first-of-type {
        border-top-left-radius: 8px;
    }

    .tableR thead th:last-of-type {
        border-top-right-radius: 8px;
    }
</style>
<body>
<nav id="menu" class="bg-neutral-300 border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="/" class="flex items-center">
            <i class="wi wi-day-cloudy mt-0.5 self-center text-xl whitespace-nowrap dark:text-white mr-2"></i>
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">TheWeatherClot</span>
        </a>
        <button data-collapse-toggle="mobile-menu" type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                      clip-rule="evenodd"></path>
            </svg>
            <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li>
                    <a href="/"
                       class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Inici</a>
                </li>
                <li>
                    <a href="/admin"
                       class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                       aria-current="page">Administrador</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="flex justify-center">
    <div class="m-5 tableR rounded-lg w-3/5 border shadow-2x1 ">
        <table class="table-auto w-full text-center">
            <thead>
            <tr class="bg-neutral-300  border-gray-200 dark:bg-gray-900">
                <th class="p-4 text-neutral-50 text-gray-900 dark:text-neutral-300">#ID</th>
                <th class="p-4 text-neutral-50 text-gray-900 dark:text-neutral-300">Ciutat</th>
                <th class="p-4 text-neutral-50 text-gray-900 dark:text-neutral-300">Data</th>
                <th class="p-4 text-neutral-50 text-gray-900 dark:text-neutral-300">Temperatura</th>
                <th class="p-4 text-neutral-50 text-gray-900 dark:text-neutral-300">Icona</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prediccio: ${temps}">
                <td class="text-bold" th:text="${prediccio.id}"></td>
                <td th:text="${prediccio.ciutat}"></td>
                <td th:text="${prediccio.data}"></td>
                <td th:text="${prediccio.temperatura}"></td>
                <td><i th:class="${prediccio.icon}"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<main class="flex m-5 gap-2 flex-wrap justify-center">
    <div class="flex-initial p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form class="space-y-6" action="/afegirTemps" method="POST" autocomplete="off">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">Afegir Predicció Meteorológica</h5>
            <div>
                <label for="ciutat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Introdueix
                    la Ciutat</label>
                <select class="form-select appearance-none
                          bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        aria-label="Default select example" name="ciutat" id="ciutat" required>
                    <option selected disabled>Ciutat</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Tarragona">Tarragona</option>
                    <option value="Lleida">Lleida</option>
                    <option value="Girona">Girona</option>
                </select>
            </div>
            <div>
                <label for="data" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Introdueix la
                    Data</label>
                <input type="date" name="data" id="data"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                       required>
            </div>
            <div>
                <label for="temperatura" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Introdueix
                    la Temperatura</label>
                <input type="number" name="temperatura" id="temperatura"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                       placeholder="Temperatura" required>
            </div>
            <div>
                <label for="icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Selecciona la
                    Predicció</label>
                <select class="form-select appearance-none
                          bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        aria-label="Default select example" name="icon" id="icon" required>
                    <option selected disabled>Predicció</option>
                    <option value="wi wi-day-sunny">Solejat</option>
                    <option value="wi wi-cloud">Ennuvolat</option>
                    <option value="wi wi-cloudy-gusts">Vent</option>
                    <option value="wi wi-fog">Boira</option>
                    <option value="wi wi-rain">Pluja</option>
                    <option value="wi wi-thunderstorm">Tempesta Elèctrica</option>
                    <option value="wi wi-snow">Neu</option>
                </select>
            </div>
            <button type="submit"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Afegir
            </button>
        </form>
    </div>
    <div class="flex-initial p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form class="space-y-6" action="/modificarTemps" method="POST" autocomplete="off">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">Modificar Predicció Meteorológica</h5>
            <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Introdueix el
                Identificador de la Predicció</label>
            <input type="number" name="id" id="id" placeholder="Identificador"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                   required>
            <div>
                <label for="ciutat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Introdueix
                    la Ciutat</label>
                <select class="form-select appearance-none
                          bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        aria-label="Default select example" name="ciutat" id="ciutat" required>
                    <option selected disabled>Ciutat</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Tarragona">Tarragona</option>
                    <option value="Lleida">Lleida</option>
                    <option value="Girona">Girona</option>
                </select>
            </div>
            <div>
                <label for="data" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Introdueix la
                    Data</label>
                <input type="date" name="data" id="data"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                       required>
            </div>
            <div>
                <label for="temperatura" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Introdueix
                    la Temperatura</label>
                <input type="number" name="temperatura" id="temperatura"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                       placeholder="Temperatura" required>
            </div>
            <div>
                <label for="icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Selecciona la
                    Predicció</label>
                <select class="form-select appearance-none
                          bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                        aria-label="Default select example" name="icon" id="icon" required>
                    <option selected disabled>Predicció</option>
                    <option value="wi wi-day-sunny">Solejat</option>
                    <option value="wi wi-cloud">Ennuvolat</option>
                    <option value="wi wi-cloudy-gusts">Vent</option>
                    <option value="wi wi-fog">Boira</option>
                    <option value="wi wi-rain">Pluja</option>
                    <option value="wi wi-thunderstorm">Tempesta Elèctrica</option>
                    <option value="wi wi-snow">Neu</option>
                </select>
            </div>
            <button type="submit"
                    class="w-full text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">
                Modificar
            </button>
        </form>
    </div>
    <div class="flex-initial p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
        <form class="space-y-6" action="/esborrarTemps" method="POST" autocomplete="off">
            <h5 class="text-xl font-medium text-gray-900 dark:text-white">Esborrar Predicció Meteorológica</h5>
            <div>
                <label for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Introdueix el
                    Identificador de la Predicció</label>
                <input type="number" name="id" id="id" placeholder="Identificador"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                       required>
            </div>
            <button type="submit"
                    class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                Eliminar
            </button>
        </form>
    </div>
</main>
<script>
    const menu = document.getElementById('menu');
    const toggle = () => menu.classList.toggle("hidden");
</script>
</body>
</html>
